.react-date-picker__calendar .react-calendar {
    border: none;
    background: var(--light);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.react-calendar__tile--active {
    background: var(--dark);
}

.react-calendar__tile--active > abbr {
    color: var(--light);
}

.react-calendar__tile--now {
    background: var(--warning);
}

.react-calendar__tile--now > abbr {
    color: var(--light);
}

.react-date-picker__button:enabled:hover .react-date-picker__button__icon {
    stroke: var(--primary);
}
