.styles_overlay-wrapper__O0Zm8 .styles_overlay-content__1qZR_ {
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 10px;
}
